html {
    
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtgCKDqSWg5T1G-lvsxjBtg75JspN5r_4D9GR76tTHAEdJ_mFB_bT2QlpHxgiQBHRK3ak&usqp=CAU);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

 }