html {
    
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqDtA1EIvAWxUBclBb1WHmmDO6iI1bmT5RWw&usqp=CAU);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;

 }